* {
    margin: 0;
    padding: 0
}

/*  
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Inter', sans-serif; 
*/

.Container{
    width: 414px;
    height: 100%;
    margin: auto;
    background-color: #E5E5E5;
    padding-top: 92px;
    overflow-y: hidden;
}

.UpBar{
    width: 414px;
    height: 92px;
    position: fixed;
    top: 0;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.Title{
    font-family: 'Righteous', cursive;
    font-size: 44px ;
    color: #FFFFFF;
    margin-left: 21px;
}

.Subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 21px;
}

.Content{
    background-color: #E5E5E5;
    padding: 4px 0 108px 19px
}

.Row{
    margin: 27px 0 0 0;
}

.List {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    padding: 7px 0 7px 0;

}
.List::-webkit-scrollbar{
    display: none;
}

.RequestTitle{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-bottom: 17px;
}

.Request{
    width: 172px;
    background-color: #FFFFFF;
    border-radius: 9px;
    border: 5px #FFFFFF;
    border-style: solid;
    box-sizing: content-box;
    flex-wrap: nowrap;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.RequestIMG{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 13px 5px 0 5px;
}

.NameRequest{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
}

.RequestDetails{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 5px 0 0 10px;
}

.RequestPrice{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 5px 10px 10px;
    align-items: end;
    justify-content: space-between;
}

.value{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    align-items: end;
    justify-content: space-between;
}

.Icon{
    display: flex;
    width: 16px;
    background-color: #32B72F;
    color: #FFFFFF;
    border-radius: 50%;
}

.NoIcon{
    display: none;
}

.DownBar{
    display: flex;
    width: 414px;
    height: 92px;
    position: fixed;
    bottom: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.ResponseDisable{
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 50px;
}

.ResponseEnable{
    width: 364px;
    height: 61px;
    background-color: #32B72F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 50px;
}

.Select{
    border-radius: 9px;
    border: 5px #32B72F;
    border-style: solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.UnSelect{
    border-radius: 9px;
    border: 5px #FFFFFF;
    border-style: solid;
}
.none{
    display: none;
}
.View{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 414px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
    position: fixed;
    top: 0;
    float: initial;
    scroll-padding-top: none;
}

.Confirm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 377px;
    height: 353px;
    padding: 20px 25px 5px 25px;
    
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    border-radius: 9px;
    box-sizing: border-box;
}

.ConfirmTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
}

.ConfirmMeal{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    min-width: 30px;
    max-width: 225px;
}

.ConfirmTotal{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    justify-content: space-between;
}

.ConfirmPlate, .ConfirmDrink, .ConfirmDessert{
    display: flex;
    justify-content: space-between;
}

.ConfirmBtn{
    width: 329px;
    height: 52px;
    background-color: #FFFFFF;
    color: #50D074;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    border-radius: 100px;
    border: none;
}

a{
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

.CancelConfirm{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    background-color: transparent;
    border: none;
}
